@font-face {
    font-family: 'WhitneyBook';
    src: url('../fonts/WhitneyFontsWoff/WhitneyBook.WOFF') format("woff"), url('fonts/Whitney-Font-Family/WhitneyBook.eot'), url('fonts/WhitneyFontsTtf/WhitneyBook.ttf') format('truetype'), url('fonts/Whitney-Font-Family/WhitneyBook.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyLight';
    src: url('../fonts/WhitneyFontsWoff/WhitneyLight.WOFF') format("woff"), url('fonts/Whitney-Font-Family/WhitneyLight.eot'), url('fonts/WhitneyFontsTtf/WhitneyLight.ttf') format('truetype'), url('fonts/Whitney-Font-Family/Whitney-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WhitneyMedium';
    src: url('../fonts/WhitneyFontsWoff/WhitneyMedium.WOFF') format("woff"), url('fonts/Whitney-Font-Family/WhitneyMedium.eot'), url('fonts/WhitneyFontsTtf/WhitneyMedium.ttf') format('truetype'), url('fonts/Whitney-Font-Family/Whitney-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



* {
	margin: 0;
	padding: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip
{
	color:#000;
}
#name_details{
	width: 100%;
    height: 25%;
    color: black;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom:52px;
    padding: 5px;
    border: 1px 1px 0px solid grey;
    display: block ;
    text-align: center;
	z-index:1;
}
ul, li {
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font-size:16px;
     font-family: 'WhitneyMedium';
}

header {
    background: #063CE6; /* Old browsers */
    background: -moz-linear-gradient(top, #0745AA 0%, #000166 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0745AA 0%, #000166 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0745AA 0%, #000166 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0745AA', endColorstr='#000166',GradientType=0 );
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    padding: 7px 15px;
    color: #fff;
    font-size: 16px;
    font-family: WhitneyLight;
    z-index:3;
}
section {position:relative;padding-top:50px;padding-bottom:50px;height:100%;width:100%;margin:10px 30px;}
footer{position:fixed;bottom:0;background: #000166;width:100%;padding: 6px 15px;height:50px;color: #fff;
    font-size: 18px;
    font-family: WhitneyLight;
}
img {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    border: 0;

}
.logoText{
    white-space: pre-line;
}
/*********** iphone 4 & 5 ****************//*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}
*/
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.contact-header{
		background-color:#053297;
		padding:29px 0 14px 0;
	}
	.contact-list ul li{
		border-bottom:1px solid #f2f2f2;
	}
	
	.contact-buttons{
		background-color:#f2f2f2;
		padding: 18px 0;
		text-align: center;
	}
	.contact-buttons button{
		border:1px solid #000066;
		font-style:Whitney-Book regular;
	}
	.active{
		background-color:#000066;
		color:#ffffff;
	}
	footer{
		background-color:#010066;
	}
	  
}
*/
.leftarrow{heigth:18px;width:18px;margin-top:-2px;}

    .pma-marker-position{
			top: -27px;
			left: -15px;
			position: absolute;
		}
.resultsPad{
    color:#333;
    float:left;
    margin-top: -50px;
    margin-left: 20px;
}

.newcontact {
    width: 17px;
    position: relative;
    right: 5px;
    bottom: 2px;
 }
    .searchcontact{margin-left:3%;}
.likeNamesContainer{
    background-color:#E7E7E9;
    height: 420px;
    width: 100%;
    margin-top: 30px;
}
.likeNames {
    float: left;
    width: 100%;
    background: white;
}

.panel-body{
    border-bottom:1px solid #000066;
}
    .suggestedname{
        
        float: left;
        width: 100%;
        padding: 15px;
        color:#333;
    }
    .suggestedname p{margin:0px;}


.headerTitle {
    line-height: 30px;
    text-align: center;
    }
.page-container{min-height:400px;
	height:100vh;
min-height:100vh;	background:#f2f2f2;color:#353535;padding: 60px 20px 0 20px;}

.highlighted { background: yellow }

.help-feedback{margin-top:20px;float:left;}
.colorBlue{color:#000066;font-weight:400;}
.contactView{padding-top:50px;}
/* navigation menu styles */
/* navigation panel start here */
button:hover{
	color:#ffffff !important;
}
.page-container ul li {
    font-family: WhitneyBook;
    list-style-type: disc;
    margin-top: 5%;
    margin-left: 4%;
    color: #000066;
}
.page-container ul li p {
    color: #353535;
}
.navigation{
	width:300px;
	height:100vh;
min-height:100vh;
}
.nav-header{
background: #063CE6; /* Old browsers */
background: -moz-linear-gradient(top, #063CE6 0%, #000c65 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #063CE6 0%, #000c65 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #063CE6 0%, #000c65 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063CE6', endColorstr='#000c65',GradientType=0 );
color:#fff;
padding: 12px;
height: 225px;
}
.agent-name p{
	margin:0;
	text-align:left;
	padding-left:3%;
	font-family:WhitneyMedium;
	font-size:1em;
	min-width:200px;
}
.agent-name
{
	margin:4% 0;
}
.logo{
	float:left;
	width: 35%;
    height:auto;
}
.hamburger{
	float:right;
	width: 11%;
    height:auto;
    margin-top:-15px; 
}
.nav-status{
	background-color:#fcfdff;
	color:#000c5d;
	border-radius: 5px;
    padding: 2% 4%;
    border-bottom: 2px solid #cccdce;
    position: absolute;
    font-size: .9em;
    width: 275px;
}

.nav-img-done{
	height: 16px;
    width: 16px;
}
.nav-body:first-child{
	border-top:none;
}
.nav-body{
	padding-top:5px;
	margin-bottom:10px;
    font-size: .9em;
}
.navv-area-date{
	float:left;
	font-family:WhitneyMedium;
    color:#00007f;
}

.nav-area-status{
	float: right;
    color: #444;
    display: inline-block;
    text-align: center;
    margin: 10% 2% 0 2%;
}
 #disposition-content{height: 576px;
    padding-top: 55px;} /* temporary */
.nav-drop{
	float:right;
}
 .nav-drop{
	display:none;
}
.onHold{
color: #999!important;
}
/* 
.nav-status:nth-child(1) .nav-drop{
	display:inline-block;
} */

.nav-status .nav-body:first-child  .nav-drop{
	display:inline-block;
}
.total-remaining{
text-align: :left!important;
}
.total,.remaining{
	display:inline-block;
	text-align:center;
	margin:3% 2% 0 2%;
	width:33%;
}
.total-text
{
	color:#676868;
    padding-bottom: 1%;
}
.total-value{
color:#353535;
}
.nav-drop img{
	width:20px;
	height: 18px;
}
.nav-list-items
{
	/* margin-left:2.5%;
	margin-bottom: 7%; */
}
.nav-list-items img{
	    width: 8%;
    height: 30px;
    margin-right: 2%;
    margin-top: -6px;
}
.nav-list-items ul li
{
	border-bottom:1px solid #cdced0;
	
}

.nav-list-items li {
    padding: 8% 0;
}
.nav-list-items li:last-child{		
	    padding: 7% 0;	
	}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
.nav-list-items li {
    padding: 6.5% 0;
}
.nav-list-items li:last-child{		
	    padding: 4% 0!important;	
	}
    #disposition-content {
    height: 576px;
    padding-top: 55px;
    }
    .contact-list ul{height:478px;}
    
    .page-container{height:627px!important;}
  
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait) {  

.page-container
{
	min-height:640px !important;
}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 567px) and (orientation : portrait) { 
.nav-list-items li {
    padding: 5% 0;
}
.nav-list-items li:last-child{		
	    padding: 3% 0;	
	}
    .page-container{height:567px;}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) {
	.nav-list-items ul li:nth-child(4){
		padding-bottom: 28.5% !important;
	}

	.page-container{
    	height:637px !important;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 411px) and (orientation : portrait) { 


    .page-container{
    	height:627px !important;
    }
   	.nav-list-items ul li:nth-child(4) {
    padding-bottom: 22% !important;
	}
	.history-details {
    padding: 14px 0px 0px 0;
    height: 55px;
	}
	.policy-history .panel-body{
		height: 267px;
	}
}
@media only screen and (min-device-width: 412px) and (max-device-width: 659px) and (orientation : portrait) { 
	.contact-list ul {
    
    height: 510px !important;
  
}

    .page-container{
    	height:657px !important;
    }
   	.nav-list-items ul li:nth-child(4) {
    padding-bottom: 33.3%;
	}
}






@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
.contact-list ul {
    height: 766px!important;
}
      .contact-buttons {
    padding-bottom: 5px!important;
    padding-top: 55px!important;
      }
	  
	.tab-section {
    padding-bottom: 5px!important;
    padding-top: 46px!important;
      }  
     
      .filter-content {
    max-height: 628px!important;
}
.nav-list-items ul li:nth-child(4) {
    padding-bottom: 51%!important;
}
      .nav-body, .total-text, .nav-list-items ul li a, .nav-footer{ font-size:1em!important;}
	      #contact-container{height: 581px!important;}
		  #disposition-content {height: 712px;}
}


.nav-list-items ul li a{
	color:#00007f;
        font-size: .9em;
}
.nav-header {
    padding-top: 25px;
}
.helpLink {
padding: 4% 0!important;
}
.count-list
{
    background-color: #f6b533;
    margin-right: 55%;
    padding: 2% 3%;
    border-radius: 5px;
    color: #ffffff;
    font-size: .9em;
    float: right;
}

.nav-help-about{
	border-top:1px solid #cdced0;
	border-bottom:1px solid #cdced0;
}
.nav-help-about ul li img{
	width:35%;
}
.help{
	float:left;
}
.about{
	float:right;
}
.help img,.about img{
	width: 25%;
	margin-top: 0%;
    margin-right: 8%;
    margin-left: 3%;
}
.nav-footer{
	text-align:center; 
	 background-color:#000c65;
     color:#fff;	 
     padding:4% 0;
    font-size: .9em;
}
.nav-footer p{
	margin:0;
}
.nav-footer p img{
	width:7.4%;
	margin-right:5%;
}/*
.nav-list-items ul li:nth-child(4){
	padding-bottom:10%;
}*/
.IconContainer{
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 10px;
    display: block;
    position:fixed;
}
.iconSeperator{
    height: 25px;
    width: 1px;
    background: #333;
    float: left;
    margin: 2px 25px;
}

/* navigation panel end here */
/*-------------- MapView.css --------------*/
		.leaflet-control-container{
			display: none;
		}
       .otherViewContainer{
/*         	min-width: 320px; */
        	float: right;
        	position: 	absolute;
        	right: 0px;s
        }

        body { 
        	margin:0;
        	padding:0; 
        }

 		#mapViewContainer { 
 			position:absolute; 
 			top:0; 
 			bottom:0; 
 			width:100%; 
 			height: 100vh;
 		}
        /* header view changes */
 		.headerViewContainer {
		    position: absolute;
		    background-color: #e5e6e8;
		    width: 100%;
		}

		.header-content {
		    text-align: center;
		}
		.header-toggle
		{
			float:left;
		}
		
		.headerViewContainer .contact-date p {
		    font-size: 1em;
		}

		/* .headerViewContainer .header-toggle img {
		    width: 8%;
		} */

		.wrapper.ng-hide {
			transition:all 0.5s ease-in-out;
			background-color:rgba(0,0,0,0.8);
		}

		.wrapper {
			transition:all 0.5s ease-in-out;
			background-color:rgba(0,0,0,0.8);
		}

		/* .wrapper.ng-show {
		  transition:1.0s ease-in-out all;
		  opacity:1;
		} */

		.wrapper {
		    position: fixed;
		    top: 0px;
			background-color:rgba(0,0,0,0.8);
		    min-width: 300px;
		    left: -550px;
		    z-index: 999999;
		}

		.wrapper.expandnav{
			left: 0px;
			background-color:rgba(0,0,0,0.8);
			height:100%;
		}
		/* header view changes */
/*------------ MapView.css ends -----------*/


/*-------------- header------------*/


.otherViewContainer .deskOrTab{
	background-color:#010066;
}

.inner-content{

	margin:0px 15px;
	/* margin-left:15px; */
}
/* .header-content{
	padding-top: 11px;
    padding-bottom: 14px;
} */
.header-toggle img{
	width:25px;
    margin-top:2px;
	/* display:inline-block; */
	/* float: left; */
	
}
.contact-date{
	text-align:right;
	display:inline-block;
	margin-top:5px;
	/* width:93%; 
	padding-left: 20px;*/
}
.contact-date p{
	font-family:WhitneyMedium;
	color: #ffffff;
	font-size:1em;
	margin:0;
}
 .header-search img{
 	width:22px;;
 	display:inline-block;
	margin-top:2px;
 }
/* section contact buttons */

.contact-buttons{
	background-color:#f2f2f2;
	padding-bottom:10px;
    text-align: center;
    padding-top:60px;
}
.contact-buttons .btn-group{
	width:85%;
	margin:0 auto;
	padding-bottom:5px;
}
.contact-buttons button{
	border:1px solid #000066;
	font-family:WhitneyBook;
	width:50%;
    background:#f2f2f2;
    color:#00007f;
    cursor:pointer;
}
.active{
background: #063Ca6; /* Old browsers */
background: -moz-linear-gradient(top, #063Ca6 0%, #000c65 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #063Ca6 0%, #000c65 100%)!important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #063Ca6 0%, #000c65 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063Ca6', endColorstr='#000c65',GradientType=0 )!important;
color:#ffffff!important;
}

.contact-buttons button:hover{
color:#00007f!important;
}
.active:hover{color:#fff!important;}

.tab-section{
	background-color:#e5e6e8;
	padding-bottom:10px;
    text-align: center;
    padding-top:60px;
}
.tab-section .btn-group{
	width:85%;
	margin:0 auto;
	border:1px solid #000066;
	border-radius: 4px;
}
.tab-section input{
	border:1px solid #000066;
	font-family:WhitneyBook;
	background:#f2f2f2;
    color:#00007f;
    display:none;
	cursor:pointer;
}


.tab-section input[type="radio"] + label{
	color:#00007f;
	width:49.4%;
	padding:3px;
	margin-bottom:0;
	font-size: 14px;
}
.tab-section input:checked + label {
background: #063Ca6; /* Old browsers */
background: -moz-linear-gradient(top, #063Ca6 0%, #000c65 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #063Ca6 0%, #000c65 100%)!important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #063Ca6 0%, #000c65 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063Ca6', endColorstr='#000c65',GradientType=0 )!important;
color:#e5e6e8!important;
}

/****** contact list ************/


.contact-list ul li{
	border-top:1px solid #f2f2f2;
}
.contacts {
	padding: 13px 10px;
	border-bottom: 1px solid #e5e5e5;
	
}
.contact-list ul{
	overflow-y:scroll;
    height: 490px;
    background-color: #ffffff;
}
.contacts p{
	margin:0;
}
.contact-name{
	font-family:WhitneyMedium;
	font-size:1em;
	color:#2c2c2c;
}
.contact-locate {
	height: 40px;
    width: 35px;
	float:left;
}

.contacts .contact-detail {
	margin-left: 8px;
	float:left;
    
	
}
span .contact-addr{
	font-size: 0.875em;
	font-family:WhitneyBook;
	color:#7f7f7f;
}
.contact-arrow {
	margin-top: 12px;
	/* width:3.75%; */
	height:18px;
	float:right;
}
.contact-status-arrow{
	display:inline-block;
	width:6%;
	vertical-align: middle;
    margin-top: -10%;
    margin-right: 2%;
    margin-left: 2%;
	
}

.contact-footer{
	position:fixed;
	bottom:0;
	width:100%;
	/* z-index:100; */
	height:50px;
}
.footer-left, .footer-right{
	display:inline-block;
	margin-top:5px;
}
.footer-left{float:left;}
.footer-right{float:right;}
.footer-left a, .footer-right a{
	color:#ffffff;
	font-family:WhitneyLight;
}
.contact-footer a img{
    width: 35px;
    margin-top: -2px;
}
.contact-footer a span{
    margin-right: 10px;
}

.contact-status{
	/* display:inline-block; */
	font-size: 9px;
	border-bottom: 1px solid #e5e5e5;
}
.contact-status-arrow img
{
	width:100%;
}
.contact-status-A img,.contact-status-B img
{
	width:35%;
}
.contact-status-A{
	background-color:#808182;
	display:inline-block;
	width:22%;
	text-align:center;
	margin-left: -3px;
	padding-top:12px;
}

.contact-status-A p,.contact-status-B p{
	padding-bottom: 10px;
    margin: 0;
    color: #fff;
    font-size: 10px;
    padding:5px 0 10px 0;
    font-family: WhitneyBook;
}
.contact-status-B{
	background-color:#676868;
	display:inline-block;
	width:23.5%;
	text-align:center;
	margin-left: -3px;
	padding-top:12px;
}
#sortingIcon
{
	fill:red;
}

.leaflet-control-attribution.leaflet-control{
	display: none;
}

.nav-list-items ul		
{		
	background-color: #ffffff;	
	text-align: left;
	padding-left: 3%;	
}

.header-search {
    float:right;
}

	.expandnav		
	{		
		font-size: 16px;	
		width: 100%;	
	}

    header.deskOrTab,.otherViewContainer.mobile,
	.headerViewContainer header.deskOrTab{
		display: none;
	}
	.otherViewContainer
	{
		width:100%;
	}
	header.mobile,.headerViewContainer header.mobile,
	footer.mobile,.contact-buttons.mobile{	
		display: block;
	}

input:focus{
    outline: 0;
}

.otherViewContainer.mobile {				
    z-index: 5;				
}


/*****search*****/
.docs-search
{
	width:100%;
    float:left;
    text-align:center;
    margin: 0 10px;
    padding: 4px 0 4px 10px;
    background: white;
    border-radius: 20px;
    vertical-align: middle;
    margin-top:-4px;
}
.search_contactList{
        overflow-y: scroll;
    height: 625px;
    background-color: #ffffff;
    padding-top: 50px;
    float: left;
    width: 100%;
        z-index: 99;
}
.search_Text{
    color: #333;
    padding: 30px;
    font-size:16px;
}
.search_close{
    float: right;
    margin-top: 1.5%;
}
.search-query
{
	font-size: 14px;
    border: 0;
    width: 80%;
    color: #373737;
    float:left;
}
.search-query::-webkit-input-placeholder {
   color: #373737;
}

@media only screen and (min-width:768px) {	

	header.mobile,.headerViewContainer header.mobile,
	footer.mobile,.contact-buttons.mobile{
		display: none;
	}	
	.headerViewContainer .header-content {
		    text-align: center;
		}
	
	header.deskOrTab,.otherViewContainer.mobile,
	.headerViewContainer header.deskOrTab{
		display: block;
	}
    
    1.contact-list {
     padding-top: 50px;
    }
	
	.otherViewContainer{		
		width: 34.5% ;		
	}		
	.headerViewContainer,.expandnav{		
		width: 100%;		
	}		
	.expandnav		
	{		
		font-size: 16px;	
		height:100%;
	}	

	/* */
	.contact-status .contact-status-A.viewOnMap{
		display: none;
	}	
	
	/* .navigation		
	{		
		width: 300px;		
	} */	
	.nav-status{
		padding: 5px 10px;
	}	
	.nav-list-items		
	{		
		margin-left:0;		
	}		
	.nav-list-items ul		
	{		
		text-align: left;		
		padding-left: 2.5%;		
	}		
	.count-list{		
		margin-top: -1.5%;
    	margin-right: 50%;		
	}		
	.nav-list-items{		
		margin-bottom: 0;		
	}		
	.nav-list-items li{		
		padding: 8% 0;		
	}		
	.nav-list-items li:last-child{		
		padding: 4% 0;		
	}		
	.nav-list-items img		
	{		
		width: 12%;		
	}
	.docs-search
	{
		margin:0px; 
		width:30%
	}
	.header-toggle img{
		float: left;
		    width: 31px;
     margin-top: 0px;
	}	
	.contact-buttons{
		width:29%;
		margin:0 auto;
		padding:0;
	}
	.tab-section{
		width:29%;
		margin:0 auto;
		padding-top:50px;
        padding-bottom:0px;
	}
	.tab-section form
	{
		padding-top:10px;
	}
	.contact-footer .inner-content{
		margin:0;
	}
	.nav-header {
    padding-top: 25px;
}
	.headerViewContainer .header-content{
		text-align:center;
	}
	.help img, .about img{
		width:34%;
	}
	.headerViewContainer .contact-date p{
		font-size:1em;
	}
	.contact-date{
		width:27%;
		text-align:left;
		margin-top:0px;
	}
	.contact-buttons .btn-group{
		width:100%;
		margin:10px 0;
		padding:0;
	}
	.tab-section .btn-group{
		width:100%;
		margin:10px 0;
		padding:0;
	}
	.tab-section input[type="radio"] + label {
		width: 49.4%;
	}
	
	.onlyPhone{
		display: none;
	}
	
}

/* Changes for other view in mobile only : RJ*/
#mobileOtherView .inner-content {
    /* padding: 10px 0; */
}

#mobileOtherView .contact-date p {
    font-size: 1em;
}

#mobileOtherView .contact-date {
    vertical-align: bottom;
}
/* Changes for other view in mobile only end : RJ*/

/** contact list footer : hema; **/
.common-footer .footer-left
{
	float:left;
}
.common-footer .footer-right
{
	float:right;
}
.common-footer img{
	width:40px;
	padding-right: 5px;
}
.common-footer{
	padding: 7.5px;
	position:fixed;
	bottom:0;
	width:100%;
	color:#fff;
	font-size: 18px;
	font-family: WhitneyLight;
}
/********************************/
.info {
  position:absolute;
  top:10px;
  right:10px;
  }
  .info div {
    background:#fff;
    padding:10px;
    border-radius:3px;
    }
	
	
	
	
	
	
	
	.startAlign{
	text-align:start;
	padding-bottom: 3px !important;
    border-bottom: 1px solid #e6e6e8;
    margin-bottom: 8px !important;
	font-size: 14px;
    padding-top: 0 !important;
}
.contactAppointment{
	font-family: WhitneyBook;
    color: #b3b4b5;
    padding: 0 0 5px 0;
}
.imgRight{
	height: 25px;
	float: right;
	margin-right: 5px;
	opacity: 0.6;
}

.imgLeft{
	height: 25px;
	float: left;
	margin-left: 5px;
}

.imgSelected{
	height: 40px;
	width: 37px;
	padding-top: 3px;
}

.trigger{
text-align:center;	
}

.trigger p{
	margin-bottom: 0;
}
.trigger  p:nth-child(1){
	font-family:WhitneyLight;
	padding: 5px 0 10px;
	font-size: 14px;
}
 .trigger p:nth-child(2){
	font-family:WhitneyMedium;
	padding-top: 5px;
    border-top: 1px solid #e6e6e8;
    font-size:16px;
}
.trigger p:nth-child(3){
	font-family:WhitneyBook;
	color:#b3b4b5;
	    padding: 0 0 5px 0;
    border-bottom: 1px solid #e6e6e8;
	font-size:14px;
}
.trigger p:nth-child(4){
	font-family:WhitneyMedium;
	color:#000066;
	padding-top: 5px;
	font-size: 15px;
}
.trigger .panel-addr{
	padding:0 50px;
}
.trigger .panel-addr p{
	margin:0px;
}
#name_details{
	width: 100%;
    height: 33.3%;
    color: black;
    background: rgb(255, 255, 255);
    position: fixed;
    bottom:0px;
    padding: 5px;
    border: 1px 1px 0px solid grey;
    display: block ;
    text-align: center;
	z-index:1;
}