<header>
    <span class="back" ng-click='closeAboutView()'>CLOSE</span>
    <div class="headerTitle"><p>About PMA Mobile</p></div>
</header>
		
		<div class="page-container">
			<h4>Describe:</h4>
			<ul style="list-style-type: square;margin: 5px 20px;">
			<li><p>Pin definitions and their color meanings</p></li>
			<li><p>Dispositioning Contacts</p></li>
			<li><p>Searching, sorting and filtering contacts</p></li>
			<li><p>Adding referrals</p></li>
			<li><p>Syncing your data</p></li>
			</ul>
</div>
