<header>
    <span class="back pull-left" ng-click='closeHelpView()'>CLOSE</span>
    <div class="headerTitle"><p>Help with this app</p></div>
</header>
	
		<div class="page-container">
			For technical assistance or additional help using this app contact the service desk at 
			<span class="blue"><a class="colorBlue" onclick="makeACall(this)">
			(000) 000-0000</a></span> or email 
			<span class="blue" >
                <a class="colorBlue" href="mailto:?subject=Help Desk&body=Need some help" target="_blank" id="contacttxt" data-role="none" style="text-decoration: none;">address@cnoinc.com</a></span>
		
		<div class="help-feedback">
			Send feedback and comments to
			<div class="blue" >
                <a class="colorBlue" href="mailto:?subject=Help Desk&body=Need some help" target="_blank" id="contacttxt" data-role="none" style="text-decoration: none;">adifferentemail@cnoinc.com</a></div>
	</div>
            </div>